@font-face {
    font-family: 'Amatic SC';
    src: url('../../fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Brandon-grotesque-regular';
    src: url('../../fonts/Brandon_Grotesque_regular.otf') format('truetype');
}

@font-face {
    font-family: 'Brandon-grotesque-bold';
    src: url('../../fonts/Brandon_Grotesque_bold.otf') format('truetype');
}

/*--- This is for the landing/splash/home page ---*/

/* For the profile image */
.profile img {
    all: unset;
    /* border-radius: 0 !important;
    width: 100% !important;
    height: auto;  */
}

.profile h1 {
    font-size: clamp(3rem, 10vw, 6rem);
}

.profile span {
    font-weight: normal;
    font-family: 'Brandon-grotesque-regular', sans-serif;
    color: #7e7c7c;
}

/* Swap the buttons & social icons (for some reason they put the socials before the buttons??? via adding them to a flex container*/
.flex-container {
  display: flex;
  flex-direction: column; /* Stacks them vertically */
}

.social-icons {
  order: 2; /* Higher numbers go lower */
}

.buttons {
  order: 1; /* Lower numbers stay on top */
}

/*--- This is for the main blog post page ---*/

/* From header.css */
.header-nav a {
  font-family: 'Amatic SC', sans-serif;

  /* Minimum: 2rem (~32px), Preferred: 8% of screen width, Maximum: 4rem (~64px) */
  font-size: clamp(1rem, 10vw, 3rem);

  /* Space between characters */
  letter-spacing: 1rem;

 /* Removes bold styling */
  font-weight: normal;

  color: #8c56c2;
}

.header-nav .menu span {
  font-size: clamp(1rem, 5vw, 2rem);
}

.entry-header h2 {
    font-family: 'Amatic SC', sans-serif;
    color: #7565cd; /* color overwritten for some reason??? */
}

.entry-content p {
    font-weight: normal;
    font-family: 'Brandon-grotesque-regular', sans-serif;
    color: #7e7c7c;
}

.entry-footer {
    font-family: 'Amatic SC', sans-serif;
    font-size: larger !important;
    color: #7565cd;  
}

/*--- This is all individual post stuff ---*/

/* Main header */
h1 {
    font-family: 'Amatic SC', sans-serif;
    color: #7565cd;
}

/* date */
.post-meta {
    font-family: 'Amatic SC', sans-serif;
    font-size: larger;
    color: #7565cd;  
}

/* 2nd header/summary */
h3 {
    font-weight: normal;
    font-family: 'Brandon-grotesque-regular', sans-serif;
    font-size: 1.15rem !important;
    color: #7565cd;
}

/* Content */
.post-content {
    font-weight: normal;
    font-family: 'Brandon-grotesque-regular', sans-serif;
    color: #7e7c7c;
}